extends layout
block content
    h1= title
    p Welcome to #{title}
    a(href="recipe/add") Add a Recipe
    h3 Recipes
    - for (var i = 0; i < recipes.length; i++) {
        li= recipes[i].name
    - }
